#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

li {
  list-style: none;
}

a {
  color: black;
}

p {
  height: fit-content;
  width: fit-content;
}

h1 {
  width: fit-content;
}

.searchBar {
  border-radius: 25px;
  width: 300px;
  height: 30px;
}

.cardNav {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoresContainer {
  display: flex;
  flex-direction: row;
}

.scoreContainer > img {
  width: 25px;
  height: 25px;
}

.card {
  display: flex;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 25px;
  margin: 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cityNameDesktop {
  font-size: 1.5em;
  font-weight: bold;
}

.cityNameMobile {
  font-size: 1.5em;
  font-weight: bold;
  display: none;
}

.cityImage {
  width: 200px;
  height: 200px;
  align-self: center;
  border-radius: 25px;
}

.nonScoresDiv {
  display: flex;
}

.plugContainer {
  display: flex;
  align-items: center;
}

.plugName {
  font-size: 2em;
  margin: 0;
}

.plugImageContainer {
  width: 40px;
  margin-left: 5px;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

circle {
  transition: all 0.7s ease-in-out;
}

@media (max-width: 1000px) {
  .cityNameDesktop {
    display: none;
  }

  .cityNameMobile {
    display: block;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .nonScoresDiv {
    justify-content: center;
    margin-bottom: 10px;
  }

  .plugName {
    font-size: 1.5em;
  }

  .plugImageContainer {
    width: 30px;
  }
}

@media (max-width: 600px) {
  #root {
    padding: 0.5rem;
  }

  .searchBar {
    width: 200px;
  }

  .nonScoresDiv {
    justify-content: center;
    margin-bottom: 10px;
  }

  .scoresContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .scoreContainer {
    flex-direction: row;
  }

  .cityImage {
    width: 150px;
    height: 150px;
  }

  .plugName {
    font-size: 1em;
  }

  .plugImageContainer {
    width: 20px;
  }
}
